@font-face {
    font-family: Potta One; /* Имя шрифта */
    src: url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap'); /* Путь к файлу со шрифтом */
}

body {
    background-image: url("https://images.pexels.com/photos/5918044/pexels-photo-5918044.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    font-family: 'Potta One', cursive

}

.App {
    display: flex;
    justify-content: center;
}

.text {
    font-size: x-large;
}

.counterWrapper {
    width: 300px;
    height: 270px;
    border: 3px solid black;
    border-radius: 15%;
    margin: 50px;
    background: rgba(167, 166, 166, 0.4);
}

.buttonsWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonOnEntryDisplay {
    display: flex;
    justify-content: center;
}
