@font-face {
    font-family: Potta One; /* Имя шрифта */
    src: url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap'); /* Путь к файлу со шрифтом */
}
body {
    background-image: url("/src/img/pexels-photo-4173624.jpeg");
    font-family: 'Potta One', cursive

}

.App {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.counterWrapper {
    width: 370px;
    height: 370px;
    border: 3px solid black;
    border-radius: 20%;
    margin: 50px;
    background: rgba(167, 166, 166, 0.4);
}

.buttonsWrapper {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.buttonOnEntryDisplay{
    display: flex;
    justify-content: center;
}
